In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
data ={
    'Hours': [1,2,3,4,5,6,7,8],
    'Marks': [25,35,45,50,55,65,70,80]
}
df = pd.DataFrame(data)
df

   Hours  Marks
0      1     25
1      2     35
2      3     45
3      4     50
4      5     55
5      6     65
6      7     70
7      8     80

In [6]:
# Step 3: Define Features and Target
X = df[['Hours']]
y = df['Marks']

In [7]:
# Step 4: Split Data into Train & Test Sets
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)
print('Training samples:', len(X_train))
print('Testing Samples:',len(X_test))

Training samples: 6
Testing Samples: 2

In [8]:
# Step 5: Create Model 
# Step 6: Train Model
model = LinearRegression()
model.fit(X_train, y_train)
print('Model trained successfully')

Model trained successfully

In [10]:
y_pred = model.predict(X_test)
print(y_test.values)
print(X_test)
print('Actual:',list(y_test.values))
print('Predicted:',list(y_pred))

[70 45]
   Hours
6      7
2      3
Actual: [np.int64(70), np.int64(45)]
Predicted: [np.float64(72.2), np.float64(41.4)]